.main-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f8fafc;
}

.layout-body {
    display: flex;
    flex-grow: 1;
    overflow: hidden; /* Evita barras de rolagem duplas */
}

.layout-content {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto; /* Permite rolar apenas o conteúdo principal */
}
